Saves
Saves/Backups
Saves/Backups/Game.rxdata
Saves/Backups/Game1.rxdata
Saves/Game4.rxdata
Saves/errorlog.txt
Saves/Backups/Game4.rxdata
Game.rxproj
PBS/- DO NOT REDISTRIBUTE OR COPY CONTENTS -
PBS/abilities.txt
PBS/berryplants.txt
PBS/.txt
PBS/bttrainers.txt
PBS/dexlist.txt
PBS/editorinfo.txt
PBS/connections.txt
PBS/btpokemon.txt
PBS/pokemon.txt
PBS/pokemon - Copy (april2022).txt
PBS/pokecuppm.txt
PBS/pokemon - Copy.txt
PBS/pikacuptr.txt
PBS/pikacuppm.txt
PBS/phone.txt
PBS/phone.txt
PBS/moves.txt
PBS/pokecuptr.txt
PBS/pokemonforms - Copy.txt
PBS/pokemonforms.txt
PBS/tm - Copy (2).txt
PBS/encounters - Copy.txt
PBS/fancycuppm.txt
PBS/encounters.txt
PBS/fancycupsinglepm.txt
PBS/fancycupsingletr.txt
PBS/frontierbrain.txt
PBS/items.txt
PBS/littlecuptr.txt
PBS/moves - Copy.txt
PBS/tm.txt
PBS/tm - Copy.txt
PBS/metadata.txt
PBS/littlecuppm.txt
PBS/frontierbrainpm.txt
PBS/fancycuptr.txt
PBS/townmap.txt
PBS/trainers.txt
PBS/trainers2 - Copy (2).txt
PBS/trainers2 - Copy.txt
PBS/trainers2.txt
PBS/types.txt
PBS/trainertypes.txt
PBS/trainerlists.txt
extendtext.exe
extendtext.txt
